*.pyc
*.sublime-*
*.so
pyBadlands.egg-info/
*.mod
*.o
Examples/.ipynb_checkpoints/
libUtils/WaveComp/SwanSrc/*.o
*.swp
*.hdf5
*.xmf
*.xdmf
*.dropbox
*.directory
.ipynb_checkpoints
build/
output_*
output/
.AppleDouble
__MACOSX
.DS_Store
*.dSYM
doc/_build/
tags
doc/env/
venv/

Misc/
Examples/Misc
Examples/crater/trials/
Examples/crater_*/trials/
Examples/crater/mcmcresults_*
Examples/crater_*/mcmcresults_*
Examples/etopo/mcmcresults_*
Examples/etopo_*/mcmcresults_*
Examples/mountain/mcmcresults_*
Examples/tasmania/mcmcresults_*

Examples/mountain/results_*
Examples/mountain_*/results_*
Examples/delta/results_*
Examples/delta_*/results_*
Examples/crater/results_*
Examples/crater_*/results_*
Examples/etopo/results_*
Examples/etopo_*/results_*
Examples/mountain/results_*
Examples/tasmania/results_*

Examples/crater/liklSurface_*
Examples/crater_*/liklSurface_*
Examples/etopo/liklSurface_*
Examples/etopo_*/liklSurface_*
Examples/mountain/liklSurface_*
Examples/tasmania/liklSurface_*
